$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

html, body {
  margin: 0;
}

body {
    background: #eee;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.app-loading-container {
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.75;
    background-color: #fff;
}

.app-loading-animation {
    -webkit-transition: all 0.25s linear;
    background: #000 url(../images/spinner.gif) 50% 37% no-repeat;
    width: 25px;
    height: 25px;
    display: block;
    opacity: 1;
    padding-top: 40px;
    text-align: center;
    width: 300px;
    color: #fff;

    p {
        margin: 19px 0 0 0;
    }

    &.ready {
        opacity: 0;
        display: none;
        margin: 50px auto;
    }

    &.loading {
        opacity: 1;
        margin: 100px auto;
        padding: 40px 0;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }
}

/* Colors */
.quality-legendary, .quality-5 { color: #ff8000 !important; }
.quality-epic, .quality-4 { color: #a335ee !important; }
.quality-rare, .quality-3 { color: #0070dd !important; }
.quality-1 { color: #444 !important; }
.quality-0 { color: #9d9d9d !important; }

.btn {
    text-shadow: none !important;
}

.btn-flat {
    background: #eee;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    line-height: 30px;
}

.btn-flat-green { 
    background: #62c462;
    color: #fff;
    
    &:hover {
        background: lighten(#62c462, 10%);
        color: #fff;
    }
}
.btn-flat-teal { background: #5bc0de; text-shadow: none !important; }
.btn-flat-blue { background: #0088cc; text-shadow: none !important; }
.btn-flat-yellow { background: #fbb450; text-shadow: none !important; }
.btn-flat-red { 
    background: #ee5f5b; 
    color: #fff;

    &:hover {
        background: lighten(#ee5f5b, 10%);
        color: #fff;
    }
}
.btn-flat-black { background: #222; text-shadow: none !important; }

/* class colors */
.btn-flat-druid {
    background: #FF7C0A !important;
    color: lighten(#FF7C0A, 35%);

    &:hover {
        background: lighten(#FF7C0A, 5%) !important;
        color: lighten(#FF7C0A, 65%);
    }
}
.class-druid { color: #FF7C0A !important; }
.btn-flat-hunter { 
    background: #AAD372 !important; 
    color: lighten(#AAD372, 35%);

    &:hover {
        background: lighten(#AAD372, 5%) !important;
        color: lighten(#AAD372, 65%);
    }
}
.class-hunter { color: #AAD372 !important; }
.btn-flat-mage { 
    background: #68CCEF !important; 
    color: lighten(#68CCEF, 35%);

    &:hover {
        background: lighten(#68CCEF, 5%) !important;
        color: lighten(#68CCEF, 65%);
    }
}
.class-mage { color: #68CCEF !important; }
.btn-flat-paladin { 
    background: #F48CBA !important; 
    color: lighten(#F48CBA, 25%);

    &:hover {
        background: lighten(#F48CBA, 5%) !important;
        color: lighten(#F48CBA, 55%);
    }
}
.class-paladin { color: #F48CBA !important; }
.btn-flat-priest { 
    background: #f9f9f9 !important; 
    color: #999;

    &:hover {
        color: darken(#999, 5%);
    }
}
.class-priest { color: #f9f9f9 !important; }
.btn-flat-rogue { 
    background: #FFF468 !important; 
    color: darken(#FFF468, 30%);

    &:hover {
        background: lighten(#FFF468, 5%) !important;
        color: darken(#FFF468, 35%);
    } 
}
.class-rogue { color: #FFF468 !important; }
.btn-flat-shaman { 
    background: #2359FF !important; 
    color: lighten(#2359FF, 35%);

    &:hover {
        background: lighten(#2359FF, 5%) !important;
        color: lighten(#2359FF, 65%);
    }
}
.class-shaman { color: #2359FF !important; }
.btn-flat-warlock { 
    background: #9382C9 !important; 
    color: lighten(#9382C9, 35%);

    &:hover {
        background: lighten(#9382C9, 5%) !important;
        color: lighten(#9382C9, 65%);
    }
}
.class-warlock { color: #9382C9 !important; }
.btn-flat-warrior { 
    background: #C69B6D !important; 
    color: lighten(#C69B6D, 35%);

    &:hover {
        background: lighten(#C69B6D, 5%) !important;
        color: lighten(#C69B6D, 65%);
    }
}
.class-warrior { color: #C69B6D !important; }

/* Dashboard class selections */
.deckbuilder-class-selection {
    display: inline-block;
    position: relative;
    height: 157px;
    width: 189px !important;

    span {
        display: block;
        height: 157px;
        width: 189px !important;
    }

    .deckbuilder-class-selection-portrait {
        display: block;
        background: url(../images/class-portraits.jpg);
        height: 93px !important;
        margin: 20px auto 0 !important;
        width: 132px !important;
        border: 3px solid #32383d;
        -webkit-border-radius: 0 0 10px 10px;
        -moz-border-radius: 0 0 10px 10px;
        border-radius: 0 0 10px 10px;
    }

    .deckbuilder-class-selection-frame {
        /*background: url(../images/sprite.png) no-repeat 0 -16px;*/
        left: 0;
        position: absolute;
        top: 0;

        .deckbuilder-class-selection-name {
            color: #fff;
            font-size: 11px;
            font-weight: bold;
            line-height: 1.2;
            height: auto !important;
            padding: 5px 0;
            text-align: center;
            width: 138px !important;
            background: #32383d;
            margin: 0 auto;
            -webkit-border-radius: 0 10px 0 0;
            -moz-border-radius: 0 10px 0 0;
            border-radius: 0 10px 0 0;

            .deckbuilder-class-selection-icon {
                background: url(../images/sprite.png) no-repeat 0 0;
                height: 35px !important;
                left: 16px;
                position: absolute;
                top: -5px;
                width: 35px !important;
            }
        }
    }

    &.druid {

        .deckbuilder-class-selection-portrait {
            background-position: 0 -1023px;
        }

        .deckbuilder-class-selection-name {

            .deckbuilder-class-selection-icon {
                background: url(../images/sprite.png) no-repeat -189px -385px;
            }

        }
    }

    &.hunter {

        .deckbuilder-class-selection-portrait {
            background-position: 0 -279px;
        }

        .deckbuilder-class-selection-name {

            .deckbuilder-class-selection-icon {
                background: url(../images/sprite.png) no-repeat -189px -105px;
            }

        }
    }

    &.mage {

        .deckbuilder-class-selection-portrait {
            background-position: 0 -744px;
        }

        .deckbuilder-class-selection-name {

            .deckbuilder-class-selection-icon {
                background: url(../images/sprite.png) no-repeat -189px -280px;
            }

        }
    }

    &.paladin {

        .deckbuilder-class-selection-portrait {
            background-position: 0 -186px;
        }

        .deckbuilder-class-selection-name {

            .deckbuilder-class-selection-icon {
                background: url(../images/sprite.png) no-repeat -189px -70px;
            }

        }
    }

    &.priest {

        .deckbuilder-class-selection-portrait {
            background-position: 0 -465px;
        }

        .deckbuilder-class-selection-name {

            .deckbuilder-class-selection-icon {
                background: url(../images/sprite.png) no-repeat -189px -175px;
            }

        }
    }

    &.rogue {

        .deckbuilder-class-selection-portrait {
            background-position: 0 -372px;
        }

        .deckbuilder-class-selection-name {

            .deckbuilder-class-selection-icon {
                background: url(../images/sprite.png) no-repeat -189px -140px;
            }

        }
    }

    &.shaman {

        .deckbuilder-class-selection-portrait {
            background-position: 0 -651px;
        }

        .deckbuilder-class-selection-name {

            .deckbuilder-class-selection-icon {
                background: url(../images/sprite.png) no-repeat -189px -245px;
            }

        }
    }

    &.warlock {

        .deckbuilder-class-selection-portrait {
            background-position: 0 -837px;
        }

        .deckbuilder-class-selection-name {

            .deckbuilder-class-selection-icon {
                background: url(../images/sprite.png) no-repeat -189px -315px;
            }

        }
    }

    &.warrior {

        .deckbuilder-class-selection-portrait {
            background-position: 0 -93px;
        }

        .deckbuilder-class-selection-name {

            .deckbuilder-class-selection-icon {
                background: url(../images/sprite.png) no-repeat -189px -35px;
            }

        }
    }
}

/* Sidebar */
#sidebar-wrapper {
    background: #2b3035;
    position: fixed;
    height: 100%;
    width: 64px;
    overflow: visible;
    z-index: 1000;

    &.collapsed {
        width: 64px;
        -webkit-transition: all 0.4s ease 0s;
           -moz-transition: all 0.4s ease 0s;
                transition: all 0.4s ease 0s;

        .tab-content {
            display: none
        }
    }

    .sidebar-icon {
        margin: 0;
        list-style: none;
        width: 64px;
        height: 100%;
        background: #32383d;
        text-align: center;

        .sidebar-header {
            background: #767197;
        }

        li {
            height: 64px;
            line-height: 60px;

            .btn-group {
                vertical-align: top;
                display: inline;
                font-size: 14px;
            }

            &:hover, &:active, &:focus, &.active {
                background: #2b3035;
                outline: none;
            }

            a {
                cursor: pointer;
                height: 64px;
                width: 64px;
                display: inline-block;

                &:hover {
                    background: #2b3035;
                }
            }
        }
    }

    .tab-content {
        position: fixed;
        top: 0;
        width: 236px;
        display: inline-block;
        height: 100%;
        left: 64px;
        background: #2b3035;
    }

    .sidebar-group {
        position: absolute;
        top: -23px;
        left: 63px;
        margin: 0;
        padding: 0;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;

        li {
            height: 40px;
            line-height: 40px;
            color: #8693a0;
            font-size: 18px;
            font-weight: lighter;
            font-family: "Maven Pro", sans-serif;

            &.navigation-header, &.nav-header {
                text-transform: uppercase;
                color: #c9d5e0;
                height: 64px;
                line-height: 60px;
                background: #f9f9f9;

                &:hover {
                    background: #f9f9f9;
                }
            }

            a {
                color: #8693a0;
                display: inline-block;
                line-height: 40px;
                height: 40px;
                padding: 0;
                margin: 0;
                width: 100%;

                &:hover {
                    color: #fff;
                    background: #767197;
                }
            }
        }
    }
}

/* Main Content */
#content-wrapper {
    margin-left: 337px;

    &.collapsed {
        margin-left: 64px;
        margin-bottom: 275px;
    }

    header {
        height: 64px;
        background: #fff;
        padding: 0 20px;
        margin: 0;
    
        h1.page-title {
            font-size: 20px;
            font-weight: normal;
            text-transform: uppercase;
            margin: 0;
            padding: 0;      
            line-height: 64px;
        }

        nav.user-profile {
            height: 64px;
            position: relative;
            float: right;

            &.open {

                a, a:hover {
                    text-decoration: none;
                }
            }

            a {
                color: #333;
                line-height: 64px;
                height: 64px;
                display: block;
                outline: none;

                &.user-dropdown {
                    width: 160px;
                    float: right;
                }

                &:hover {
                    text-decoration: none;
                    outline: none;
                }

                img {
                    background: #eee;
                    height: 32px;
                    width: 32px;
                    margin-left: 20px;
                }
            }

            .dropdown-menu {
                right: 0;
                left: auto;
                border: none;
                background: #fafafa;
                margin-top: 0;
                padding: 0;
                -webkit-border-radius: 0px;
                   -moz-border-radius: 0px;
                        border-radius: 0px;
                -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
                   -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
                        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);

                a:hover {
                    color: #fff;
                    background: #767197;
                }
            }
        }
    }
}

/* Panels */
.panel {
    background: #fff;
    padding: 0;
    margin-top: 20px;

    .panel-title {
        background: #767197;
        color: #fff;
        margin: 0;
        padding: 5px 20px;
        font-size: 1.5em;
        text-transform: capitalize;

        input {
            margin: 5px 0 0 0;
            height: 20px;
        }
    }

    .panel-content {

        .description {
            background: #fafafa;
            padding: 20px 20px 10px;
            font-style: italic;
        }

        .stats-container {
            .caption {
                text-align: center;
                background: #f9f9f9;
                margin: 0;
                padding: 14px 0;
                border-top: 1px solid #eee;
                border-bottom: 1px solid #eee;
            }
            div[id*="stats-"] {
                margin: 20px 0 40px;
            }
        }
    }

    .table {
        margin: 0;
    }
}
#build-deck {
    .panel-content {
        .row-fluid {
            padding-bottom: 20px;

            &:first-child {
                padding-top: 20px;
            }
        }
        .span4 {
            text-align: center;

            a {
                width: 100px;
            }
        }
    }
}

/* Messages */
#messages, #sent_messages {
    .new {
        font-weight: bold;
    }
    .read {
        color: #999;
        background: #f9f9f9;
    }
}
.nav-messages {
    list-style: none;
    margin: 0;
    position: relative;
    top: 7px;

    a {
        font-size: 12px;
        color: #eee;
        background: darken(#767197, 5%);
        cursor: pointer;
    }

    .active {
        a, a:hover {
            color: #fff;
            background: darken(#767197, 10%);
            -webkit-box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.35);
            box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.35);
        }
    }
}
.loginError {
    border-right: none;
    border-bottom: none;
    border-left: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/* Gritter */

/* the norm */
#gritter-notice-wrapper {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 301px;
    z-index: 9999;

    .top-left {
        left: 20px;
        right: auto;
    }
    .bottom-right {
        top: auto;
        left: auto;
        bottom: 20px;
        right: 20px;
    }
    .bottom-left {
        top: auto;
        right: auto;
        bottom: 20px;
        left: 20px;
    }
}

.gritter-item-wrapper {
    position: relative;
    margin: 0 0 10px 0;
    background: url(../images/ie-spacer.gif);
}
.gritter-top {
    background: url(../images/gritter-light.png) no-repeat left -30px;
    height: 10px;
}
.hover {
    .gritter-top {
        background-position: right -30px
    }
    .gritter-bottom {
        background-position: bottom right
    }
    .gritter-item {
        background-position: right -40px
    }
}
.gritter-bottom {
    background: url(../images/gritter-light.png) no-repeat left bottom;
    height: 8px;
    margin: 0;
}
.gritter-item {
    display: block;
    background: url(../images/gritter-light.png) no-repeat left -40px;
    color: #333;
    padding: 2px 11px 8px 11px;
    font-size: 11px;
    font-family: verdana;

    p {
        padding: 0;
        margin: 0;
        word-wrap: break-word;
    }
}
.gritter-close {
    display: none;
    position: absolute;
    top: 5px;
    left: 3px;
    background: url(../images/gritter-light.png) no-repeat left top;
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.gritter-title {
    font-size: 14px;
    font-weight: bold;
    padding: 0 0 7px 0;
    display: block;
    text-shadow: 1px 1px 0 #fff;
}
.gritter-image {
    width: 48px;
    height: 48px;
    float: left;
}
.gritter-with-image,
.gritter-without-image {
    padding: 0
}
.gritter-with-image {
    width: 220px;
    float: right;
}
.gritter-light {
    .gritter-title {
        text-shadow: none;
    }
    .gritter-item, 
    .gritter-bottom, 
    .gritter-top, 
    .gritter-close {
        background-image: url(../images/gritter-light.png);        
        color: #222;
    }
}

/* @end Gritter */

/* Helpers */
.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}