<div class="span12 panel">
	<h2 class="panel-title">{{ deckClass }} Deck <span class="pull-right">{{ deckCards.length || 0 }} / 30</span></h2>
	<div class="panel-content">
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th></th>
					<th>Name</th>
					<th>Cost</th>
					<th>Attack</th>
					<th>Health</th>
					<th>Type</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="card in deckCards">
					<td style="vertical-align:middle;width:92px;"><img width="92" data-ng-src="http://wow.zamimg.com/images/hearthstone/cards/enus/original/{{ card.image }}.png" alt=""></td>
					<td style="vertical-align:middle"><strong><a data-ng-href="//www.wowhead.com/hearthstone/card={{ card.id }}&amp;image=premium&amp;notip" class="quality-{{ card.quality }}">{{ card.name }}</a></strong> <p class="muted">{{ card.description }}</p></td>
					<td style="vertical-align:middle" data-ng-bind="card.cost"></td>
					<td style="vertical-align:middle" data-ng-bind="card.attack"></td>
					<td style="vertical-align:middle" data-ng-bind="card.health"></td>
					<td style="vertical-align:middle" data-ng-switch on="card.type">
						<span data-ng-switch-when="5">Ability</span>
						<span data-ng-switch-when="3">Hero</span>
						<span data-ng-switch-when="10">Hero Power</span>
						<span data-ng-switch-when="4">Minion</span>
						<span data-ng-switch-when="7">Weapon</span>
					</td>
				</tr>
			</tbody>
		</table>		
	</div>
</div>