<div class="row-fluid">
	<div class="span12 panel">
		<h2 class="panel-title"><span data-ng-show="!createdDeck.name">{{ deckClass }} Deck</span><span style="text-transform:capitalize;" data-ng-show="createdDeck.name">{{ createdDeck.name }}</span> <span class="pull-right">{{ deckCounter }} / 30</span></h2>
		<div class="panel-content">
			<div class="description" data-ng-show="createdDeck.description">
				<p>{{ createdDeck.description }}</p>
			</div>
			<table class="table table-hover table-striped">
				<tbody>
					<tr data-ng-repeat="card in deckCards | orderBy:'cost':reverse">
						<td class="pull-left" style="width:100%;vertical-align:middle;padding:0;height:36px">
							<a data-ng-href="//www.hearthhead.com/cards/{{ card.name | slug }}" style="padding:0;display:inline-block;width:100%;">
								<span class="pull-left" style="background:#3a87ad;color:#fff;padding:8px 10px;width:24px;text-align:center;">
									<strong>{{ card.cost }}</strong>
								</span>
								<strong class="pull-left" style="padding:7px 0 0 8px">{{ card.name }}</strong>
								<span class="pull-right" data-ng-show="card.qty>1" style="background:#32383d;color:#fff;padding:8px 10px;width:24px;text-align:center;">{{ card.qty }}</span>
							</a>
						</td>
						<td style="vertical-align:middle;padding:0;height:36px;width:36px;"><button data-ng-click="removeCard(card)" type="button" class="btn btn-flat btn-flat-red pull-right" style="line-height:28px;"><i class="icon-remove icon-white"></i></button></td>
					</tr>
				</tbody>
			</table>

			<button type="button" data-ng-show="deckCounter > 0" class="btn btn-large btn-flat btn-flat-green pull-left" data-toggle="modal" data-target="#deckModal" style="margin:20px;">Save Deck</button>

			<button type="button" data-ng-show="deckCounter > 0" class="btn btn-flat btn-flat-red pull-right" style="margin:20px;" data-ng-click="clearDeck()">Clear Deck</button>

			<div id="deckModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deckModalLabel" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="deckModalLabel">Save Your Deck</h3>
				</div>
				<div class="modal-body">
					<form data-ng-show="user.profile" data-ng-submit="saveDeck()">
						<label for="deckName">Deck name: <span class="muted">Required</span></label>
						<input type="text" data-ng-model="deckName" name="deckName" required class="span12">
						<label for="deckDescription">Description: <small class="muted">Optional</small></label>
						<textarea name="deckDescription" id="deckDescription" cols="10" rows="10" class="span12" data-ng-model="deckDescription"></textarea>
						<button type="submit" class="btn btn-flat btn-flat-green pull-left">Save Changes</button>
						<button class="btn btn-flat pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
					</form>
				</div>
			</div>					
		</div>
	</div>
</div>