<div class="panel" id="build-deck">
	<h2 class="panel-title">Build Deck</h2>
	<div class="panel-content">
		<div class="row-fluid">
			<div class="span4">
				<a class="btn btn-flat btn-flat-druid" data-ng-href="#/deckbuilder/druid">Druid</a>
			</div>
			<div class="span4">
				<a class="btn btn-flat btn-flat-hunter" data-ng-href="#/deckbuilder/hunter">Hunter</a>
			</div>
			<div class="span4">
				<a class="btn btn-flat btn-flat-mage" data-ng-href="#/deckbuilder/mage">Mage</a>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4">
				<a class="btn btn-flat btn-flat-paladin" data-ng-href="#/deckbuilder/paladin">Paladin</a>
			</div>
			<div class="span4">
				<a class="btn btn-flat btn-flat-priest" data-ng-href="#/deckbuilder/priest">Priest</a>
			</div>
			<div class="span4">
				<a class="btn btn-flat btn-flat-rogue" data-ng-href="#/deckbuilder/rogue">Rogue</a>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4">	
				<a class="btn btn-flat btn-flat-shaman" data-ng-href="#/deckbuilder/shaman">Shaman</a>
			</div>
			<div class="span4">	
				<a class="btn btn-flat btn-flat-warlock" data-ng-href="#/deckbuilder/warlock">Warlock</a>
			</div>
			<div class="span4">	
				<a class="btn btn-flat btn-flat-warrior" data-ng-href="#/deckbuilder/warrior">Warrior</a>
			</div>
		</div>				
	</div>
</div>