<div class="span5">
	<div class="row-fluid">
		<div class="span12 panel">
			<h2 class="panel-title">{{ deck.name }}</h2>
			<div class="panel-content">
				<div class="description" data-ng-show="deck.description">
					<p>{{ deck.description }}</p>
				</div>
				<table class="table table-striped">
					<tbody>
						<tr data-ng-repeat="card in deck.cards | filter:deckFilterText | orderBy:'cost':reverse">
							<td class="pull-left" style="width:100%;vertical-align:middle;padding:0;height:36px">
								<a data-ng-href="//www.wowhead.com/hearthstone/card={{ card.id }}&amp;image=premium&amp;notip" style="padding:0;display:inline-block;width:100%;" target="_blank">
									<span class="pull-left" style="background:#3a87ad;color:#fff;padding:8px 10px;width:24px;text-align:center;">
										<strong>{{ card.cost }}</strong>
									</span>
									<strong class="pull-left" style="padding:7px 0 0 8px">{{ card.name }}</strong>
									<span data-ng-show="card.health" data-ng-bind="card.health" class="pull-right hidden-phone hidden-tablet" style="padding:8px 10px;background:#b94a48;color:#fff;width:24px;text-align:center;"></span>
									<span data-ng-show="card.attack" data-ng-bind="card.attack" class="pull-right hidden-phone hidden-tablet" style="padding:8px 10px;background:#f89406;color:#fff;width:24px;text-align:center;"></span>
								</a>
							</td>
							<td style="vertical-align:middle;padding:0;height:36px;width:36px;">
								<span class="pull-right" data-ng-show="card.qty" style="background:#32383d;color:#fff;padding:8px 10px;width:24px;text-align:center;">{{ card.qty }}</span>
							</td>
						</tr>				
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12" ui-view="summary"></div>
	</div>
</div>

<div class="span7" ui-view="stats"></div>