<div class="span6 panel">
	<h2 class="panel-title">
		{{ deck.name }}
		<input type="text" data-ng-model="deckFilterText" class="pull-right hidden-phone" placeholder="Search within deck...">
	</h2>
	<div class="panel-content">
		<div class="description" data-ng-show="deck.description">
			<p>{{ deck.description }}</p>
		</div>
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th class="hidden-phone"></th>
					<th><a data-ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>
					<th class="hidden-phone"><a data-ng-click="predicate = 'classs'; reverse=!reverse">Class</a></th>
					<th><a data-ng-click="predicate = 'cost'; reverse=!reverse">Cost</a></th>
					<th><a data-ng-click="predicate = 'attack'; reverse=!reverse">Attack</a></th>
					<th><a data-ng-click="predicate = 'health'; reverse=!reverse">Health</a></th>
					<th><a data-ng-click="predicate = 'type'; reverse=!reverse">Type</a></th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="card in deck.cards | filter:deckFilterText | orderBy:predicate:reverse">
					<td style="vertical-align:middle;width:92px;" class="hidden-phone"><img width="92" data-ng-src="//s3.amazonaws.com/hearthstonebuilder/images/{{ card.image }}.png" alt=""></td>
					<td style="vertical-align:middle"><strong><a data-ng-href="//www.wowhead.com/hearthstone/card={{ card.id }}&amp;image=premium&amp;notip" class="quality-{{ card.quality }}">{{ card.name }}</a> <span data-ng-show="card.qty">x{{ card.qty }}</span></strong> <p class="muted">{{ card.description }}</p></td>
					<td style="vertical-align:middle" data-ng-switch on="card.classs" class="hidden-phone">
						<span data-ng-switch-when="1" class="class-warrior">Warrior</span>
						<span data-ng-switch-when="2" class="class-paladin">Paladin</span>
						<span data-ng-switch-when="3" class="class-hunter">Hunter</span>
						<span data-ng-switch-when="4" class="class-rogue">Rogue</span>
						<span data-ng-switch-when="5" class="class-priest">Priest</span>
						<span data-ng-switch-when="7" class="class-shaman">Shaman</span>
						<span data-ng-switch-when="8" class="class-mage">Mage</span>
						<span data-ng-switch-when="9" class="class-warlock">Warlock</span>
						<span data-ng-switch-when="11" class="class-druid">Druid</span>
					</td>
					<td style="vertical-align:middle"><span data-ng-bind="card.cost" class="badge badge-info"></span></td>
					<td style="vertical-align:middle"><span data-ng-bind="card.attack" class="badge badge-warning"></span></td>
					<td style="vertical-align:middle"><span data-ng-bind="card.health" class="badge badge-important"></span></td>
					<td style="vertical-align:middle" data-ng-switch on="card.type">
						<span data-ng-switch-when="5" class="muted">Ability</span>
						<span data-ng-switch-when="3" class="muted">Hero</span>
						<span data-ng-switch-when="10" class="muted">Hero Power</span>
						<span data-ng-switch-when="4" class="muted">Minion</span>
						<span data-ng-switch-when="7" class="muted">Weapon</span>
					</td>
				</tr>				
			</tbody>
		</table>
	</div>
</div>

<div class="span6" ui-view="summary"></div>
<div class="span6" ui-view="stats"></div>