<script src="scripts/lib/raphael-min.js"></script>
<script src="scripts/lib/morris-0.4.3.min.js"></script>

<div class="panel">
	<h2 class="panel-title">Visual Breakdowns</h2>
	<div class="panel-content">
		<div class="stats-container">
			<h4 class="caption">Type</h4>
			<div id="stats-type" style="height:220px"></div>
		</div>
		<div class="stats-container">
			<h4 class="caption">Rarity</h4>
			<div id="stats-rarity" style="height:220px"></div>
		</div>
		<div class="stats-container">
			<h4 class="caption">Mana Cost</h4>
			<div id="stats-cost"></div>
		</div>
	</div>
</div>

<div class="panel" data-ng-hide="deck.length < 30">
	<h2 class="panel-title">Random Starting Hand</h2>
	<div class="panel-content">
		<div class="stats-container">
			<h2 class="caption">1st</h2>
			<div class="container-fluid">
				<div data-ng-repeat="card in startingHandFirst" class="span4">
					<a data-ng-href="//www.wowhead.com/hearthstone/card={{ card.id }}"><img width="193" data-ng-src="//s3.amazonaws.com/hearthstonebuilder/images/{{ card.image }}.png" alt="{{ card.name }}" /></a>
				</div>
			</div>
		</div>
		<div class="stats-container">
			<h2 class="caption">2nd</h2>
			<div class="container-fluid">
				<div data-ng-repeat="card in startingHandSecond" class="span3">
					<a data-ng-href="//www.wowhead.com/hearthstone/card={{ card.id }}"><img width="193" data-ng-src="//s3.amazonaws.com/hearthstonebuilder/images/{{ card.image }}.png" alt="{{ card.name }}" /></a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="panel hidden-phone" data-ng-hide="deck.length < 30">
	<h2 class="panel-title">Probabilities
		<ul class="nav-pills pull-right nav-messages">
			<li class="active"><a data-target="#first" data-toggle="tab">1st</a></li>
			<li><a data-target="#second" data-toggle="tab">2nd</a></li>
		</ul>
	</h2>
	<div class="panel-content">
		<div class="description">
			<p style="margin:10px 14px;font-style:italic;" class="muted">These are the probabilities that you will have drawn the given card at least once by a certain turn.</p>
		</div>
		<div class="pill-content">
			<div class="stats-container pill-pane active" id="first">
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th></th>
							<th>Starting Hand</th>
							<th>Turn 1</th>
							<th>Turn 2</th>
							<th>Turn 3</th>
							<th>Turn 4</th>
							<th>Turn 5</th>
							<th>Turn 6</th>
							<th>Turn 7</th>
							<th>Turn 8</th>
							<th>Turn 9</th>
							<th>Turn 10</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="card in deck.cards">
							<td><strong><a data-ng-href="//www.wowhead.com/hearthstone/card={{ card.id }}">{{ card.name }}</a></strong> x{{ card.qty || 1 }}</td>
							<td><span class="badge badge-info">{{ card.probabilities.first[0] }}</span></td>
							<td><span class="muted">{{ card.probabilities.first[1] }}</span></td>
							<td><span class="muted">{{ card.probabilities.first[2] }}</span></td>
							<td><span class="muted">{{ card.probabilities.first[3] }}</span></td>
							<td><span class="muted">{{ card.probabilities.first[4] }}</span></td>
							<td><span class="muted">{{ card.probabilities.first[5] }}</span></td>
							<td><span class="muted">{{ card.probabilities.first[6] }}</span></td>
							<td><span class="muted">{{ card.probabilities.first[7] }}</span></td>
							<td><span class="muted">{{ card.probabilities.first[8] }}</span></td>
							<td><span class="muted">{{ card.probabilities.first[9] }}</span></td>
							<td><span class="muted">{{ card.probabilities.first[10] }}</span></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="stats-container pill-pane" id="second">
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th></th>
							<th>Starting Hand</th>
							<th>Turn 1</th>
							<th>Turn 2</th>
							<th>Turn 3</th>
							<th>Turn 4</th>
							<th>Turn 5</th>
							<th>Turn 6</th>
							<th>Turn 7</th>
							<th>Turn 8</th>
							<th>Turn 9</th>
							<th>Turn 10</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="card in deck.cards">
							<td><strong><a data-ng-href="//www.wowhead.com/hearthstone/card={{ card.id }}">{{ card.name }}</a></strong> x{{ card.qty || 1 }}</td>
							<td><span class="badge badge-info">{{ card.probabilities.second[0] }}</span></td>
							<td><span class="muted">{{ card.probabilities.second[1] }}</span></td>
							<td><span class="muted">{{ card.probabilities.second[2] }}</span></td>
							<td><span class="muted">{{ card.probabilities.second[3] }}</span></td>
							<td><span class="muted">{{ card.probabilities.second[4] }}</span></td>
							<td><span class="muted">{{ card.probabilities.second[5] }}</span></td>
							<td><span class="muted">{{ card.probabilities.second[6] }}</span></td>
							<td><span class="muted">{{ card.probabilities.second[7] }}</span></td>
							<td><span class="muted">{{ card.probabilities.second[8] }}</span></td>
							<td><span class="muted">{{ card.probabilities.second[9] }}</span></td>
							<td><span class="muted">{{ card.probabilities.second[10] }}</span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>