<div class="panel">
	<h2 class="panel-title">Summary</h2>
	<div class="panel-content">
		<table class="table">
			<tr data-ng-show="deck.description">
				<td><strong>Description</strong></td>
				<td><p>{{ deck.description }}</p></td>
			</tr>
			<tr>
				<td><strong>Class</strong></td>
				<td style="text-transform:capitalize;">{{ deck.class }}</td>
			</tr>
			<tr>
				<td><strong>Author</strong></td>
				<td><img data-ng-src="{{ deckAuthor.profile.avatar }}" data-ng-show="deckAuthor.profile.avatar" width="32" /> {{ deck.author }}</td>
			</tr>
			<tr>
				<td><strong>Created</strong></td>
				<td>{{ deck.created | date }}</td>
			</tr>
			<tr data-ng-show="deck.last_modified">
				<td><strong>Updated</strong></td>
				<td>{{ deck.last_modified | date }}</td>
			</tr>
			<tr>
				<td><strong>Rating</strong></td>
				<td>
					<strong>{{ deck.rating }}</strong>
					<span data-ng-show="user.profile" data-ng-hide="userVotedForDeck || !voting">
						<a data-ng-click="upVote(deck.rating)" class="btn btn-mini btn-flat btn-flat-green" data-ng-class="{'disabled': userVotedForDeck}"><i class="icon-arrow-up icon-white"></i></a> <a data-ng-click="downVote(deck.rating)" class="btn btn-mini btn-flat btn-flat-red" data-ng-class="{'disabled': userVotedForDeck}"><i class="icon-arrow-down icon-white"></i></a>
					</span> 
					<span data-ng-show="userVotedForDeck" class="label label-info">
						<i class="icon-ok icon-white"></i> Voted
					</span>
					<span data-ng-show="!voting">
						<a href="/login"><em>Login to vote</em></a>
					</span>
				</td>
			</tr>
			<tr>
				<td><strong>Link to Deck</strong></td>
				<td><input class="span9" type="text" readonly="readonly" value="http://www.hearthstonebuilder.com/decks/{{ deck._id }}" onclick="this.select()"></td>
			</tr>
		</table>
	</div>
</div>